{%- assign collection = collections[section.settings.collection] -%}
{%- assign product_limit = section.settings.grid | times: section.settings.rows -%}

<div class="homepage-collection {{ section.settings.bg }}"
  data-section-id="{{ section.id }}"
  data-section-type="collection-row">
  <div class="wrapper">
    {% if section.settings.title != blank %}
      <h2 class="home__subtitle">{{ section.settings.title | escape }}</h2>
    {% endif %}
    <div class="js-grid" data-grid-large="{{ section.settings.grid }}" data-grid-small="2">
      <!-- /snippets/product-grid-item.liquid -->
      {% for product in collection.products limit:product_limit %}
        {% assign has_color = false %}
        {% assign index = 0 %}
        {% for option in product.options %}
        	{% assign option_downcase = option | downcase %}
        	{% if option_downcase == 'color' or option_downcase == 'colour' %}
        		{% assign has_color = true %}
        		{% assign index = forloop.index0 %}
        	{% endif %}
        {% endfor %}
        {% if settings.split_color_variants and has_color %}
        	{% assign colors = '' %}
        	{% for variant in product.variants %}
              {% assign color = variant.options[index] %}
              {% assign color_handle = 'Color_' | append: color | handle %}
              {% if colors contains color %}
              	{% continue %}
              {% endif %}
              {% assign is_match = true %}
              {% assign has_color_filter = false %}
              {% unless settings.color_tags == blank %}
                  {% assign is_match = false %}
                  {% assign color_tags = settings.color_tags | handle %}
                  {% for tag in current_tags %}
                      {% assign tag_handle = tag | handle %}
                      {% if color_tags contains tag_handle %}
                          {% assign has_color_filter = true %}
                              {% if color_handle == tag_handle %}
                              {% assign is_match = true %}
                          {% endif %}
                      {% endif %}
                  {% endfor %}
              {% endunless %}
              {% if has_color_filter %}{% unless is_match %} {% continue %} {% endunless %} {% endif %}
              {% assign colors = colors | append: '-' | append: color %}
              {% render 'product-variant-item' with
                product: product,
                color: color,
                color_index: index,
                swatches_enabled: show_swatches,
                aspect_ratio: aspect_ratio
              %}
        	{% endfor %}
        {% else %}
        <div>
          {% render 'product-grid-item', product: product %}
        </div>
        {% endif %}
        {% else %}
          {% if collection.handle == 'all' and collection.current_tags == '' %}
              {% render 'onboarding-empty-collection' %}
          {% else %}
            <div class="js-grid__full-row">
              <p>{{ 'collections.general.no_matches' | t }}</p>
            </div>
          {% endif %}
      {% endfor %}
    </div>
    {% if section.settings.show_view_all %}
      <div class="text-center">
        <a href="{{ collection.url }}" class="btn--outline uppercase">
          {{ 'collections.general.view_all' | t }}
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Products"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type":    "range",
      "id":      "grid",
      "min":     1,
      "max":     6,
      "step":    1,
      "label":   "Products per row",
      "default": 3
    },
    {
      "type":    "range",
      "id":      "rows",
      "min":     1,
      "max":     8,
      "step":    1,
      "label":   "Number of rows",
      "default": 1
    },
    {
      "type": "select",
      "id": "bg",
      "label": "Background color",
      "default": "section bg--neutral",
      "options": [
        { "value": "section bg--neutral", "label": "Default"},
        { "value": "section bg--accent", "label": "Light"},
        { "value": "section--dark bg--invert", "label": "Dark"},
        { "value": "section--dark bg--invert--accent", "label": "Dark accent"}
      ]
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
